body {
  align-items: center;
  height: auto;
  background-color:rgba(231, 231, 231, 0.336);
}
html {
  align-items: center;
  background-color:rgba(231, 231, 231, 0.336);
}
h1 {
  padding-top: 40px;
}

.safe-container {
  align-items: center;
  padding: 40px;
  background-color: rgba(231, 231, 231, 0.336);
}


.error {
  color: red;
  position: relative;
}

.PublicNavBar {
  height:fit-content;
  background-color: white;
}

.PrivateNavBar {
  height:fit-content;
  background-color: white;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-register {
  width: 40%;
  padding: 15px;
  margin: auto;
}
.form-register .checkbox {
  font-weight: 400;
}
.form-register .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-register .form-control:focus {
  z-index: 2;
}
.form-register .gender {
  margin-bottom: 15px;
}
.form-register #birthdate {
  margin-bottom: 20px;
}
.form-register #lastname {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-register #firstname {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-register #email {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-register #email-confirm {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-register #password {
  margin-bottom: -1px;
  margin-top: 20px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-register #password-confirm {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-register #register-confirm {
  margin-top: 20px;
}
.datePicker {
  width: 100%;
}

.form-settings {
  width: 100%;
  position: relative;
  align-items: center;
  height: auto;
  margin-top: auto;
}
.form-settings .checkbox {
  font-weight: 400;
}
.form-settings .form-control {
  position: relative;
  box-sizing:border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-settings .form-control:focus {
  z-index:2;
}
.form-settings #password {
  margin-bottom: 10px;
}
.form-settings #new-password {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-settings #new-password-confirm {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-bottom: 20px;
}
.form-settings .change-password {
  padding: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
